.container-general-about {
	background-color: Black;
}

.container-about-me {
	display: flex;
	min-height: 40vh;
	padding-left: 20%;
	padding-right: 20%;
	padding: 3% 25%;
	justify-content: flex-start;
	flex-direction: column;
}

.box-about {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-about {
	opacity: 1;
	transform: translateY(5px);
}

.about {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 53%;
	margin-left: 150px;
}

.about-title {
	display: block;
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.about-paragraph {
	font-size: 25px;
	color: white;
}
