.container-general-skills {
	background-color: #e7f1f9;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}

.container-card-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 3% 25%;
}

.box-card-list {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-card-list {
	opacity: 1;
	transform: translateY(5px);
}

.skills-title {
	display: block;
	font-size: 40px;
	font-weight: bold;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	width: 100%;
}

.cards {
	display: flex;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}

.cards:hover .card-custom .inner {
	transform: rotateY(180deg);
}

.cards:hover .card-custom:nth-child(1) .inner {
	transition-delay: 0s;
}

.cards:hover .card-custom:nth-child(2) .inner {
	transition-delay: 0.2s;
}

.cards:hover .card-custom:nth-child(3) .inner {
	transition-delay: 0.3s;
}

/* 
  .test {
	color: red;
	background-color: Purple;
  } */
