.card-custom {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #fff8f0;
	border-radius: 1.375rem; /* 6px */
	padding-bottom: 16px;
	transition-duration: 0.3s;
}

.card-custom-hover {
	transform: translateY(-10px);
	transition-duration: 0.3s;
	box-shadow: 0px -1px 5px lightgray, -10px 10px 10px gray,
		10px 10px 10px gray;
	cursor: pointer;
}

.inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.flip {
	transform: rotateY(180deg);
}

.front-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	padding-top: 16px;
}

.card-header-cst-front {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 1rem 1rem;
	font-size: 2vw;
	font-weight: bold;
}

.custom-card-img-top-front {
	width: 10vw !important;
	height: 10vw !important;
	max-width: 75px;
	max-height: 75px;
}

.back-card {
	transform: rotateY(180deg);
	position: relative;
}

.card-header-cst-back {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 1rem 1rem;
	font-size: 2vw;
	font-weight: bold;
}

.front-card,
.back-card {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.custom-card-img-top-back {
	width: 40px !important;
	height: 40px;
}

.list-skills {
	font-size: 1.5vw;
	font-weight: bold;
	margin-top: 0.5rem;
	padding-left: 3vw !important;
}

.soft-skills {
	font-size: 1.5vw;
	font-weight: bold;
	margin-top: 0.5rem;
	padding-left: 1.4vw !important;
}

.list-group-item {
	border: none !important;
	background: none !important;
}

.skill-logo {
	width: 2.2vw;
	height: 2.2vw;
	margin-right: 8px;
	vertical-align: center;
}

.node-logo {
	filter: brightness(0);
}