.language-switcher {
	display: flex;
	/* gap: 0.5rem; */
	position: absolute;
	align-self: flex-end;
	z-index: 1;
}

.language-buttons {
	all: unset;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	background-color: black;
	width: 1.5rem;
	height: 1.5rem;
}

.language-buttons:active {
transform: scale(0.98);
/* Scaling button to 0.98 to its original size */
box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.language-button-clicked {
	transform: scale(0.95);
	box-shadow: inset 3px 2px 10px rgba(255, 255, 255, 0.2);
	background-color: rgb(50, 50, 50);
	}