.navbar-section-1 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.titles {
	font-size: 20px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about-me {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: center;
}

.skills {
	justify-self: center;
}

.projects {
	grid-column-start: 4;
	grid-column-end: 5;
	justify-self: center;
}
