.navbar-section-1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
}

.titles {
	font-size: 24px;
}

.about-me,
.skills,
.projects,
.work-experiences {
	justify-self: center;
}
