.container-general-projects {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 100%; 
	padding-left: 20%;
	padding-right: 20%;
}

.projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 25%;
}

.projects-title {
	display: block;
	font-size: 40px;
	font-weight: bold;
	color: black;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	align-self: flex-start;
}
