.project-container {
	background-color: #f8f8f8;
	width: 100%;
	height: 40%;
	gap: 2rem;
	border-radius: 7rem;
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	margin-bottom: 1.2rem;
	transition-duration: 0.3s;
}

.project-container:hover {
	transform: translateY(-10px);
	transition-duration: 0.3s;
	box-shadow: 0px -1px 5px lightgray, -10px 10px 10px gray, 10px 10px 10px gray;
	cursor: pointer;
}

.project-logo {
	width: 120px;
	height: 120px;
	mix-blend-mode: multiply;
}

.project-presentation {
	display: flex;
	flex-direction: column;
}

.project-title {
	font-size: 24px;
	font-weight: bold;
}

.project-description {
	font-size: 18px;
}

.project-technologies {
	display: flex;
	gap: 0.5rem;
}

.project-technology {
	background-color: black;
	color: white;
	font-size: 0.9rem;
	border-radius: 5rem;
	padding: 0.15rem 0.5rem;
}
